.box-number {
	font-size: 32px;
	margin-bottom: 0;
	p {
		margin-bottom: 0;
	}
}
.data {
	margin-top: 30px;
}
.constrain {
	padding: 0.4em 2em!important;
}
footer li {
	font-size: 18px;
	margin-right: 12px;
    color: white;
}
.l-blue {
	color: $l-blue;
}
.green {
	color: $green;
}
.pink {
	color: $pink;
}
.align-left {
	text-align: left!important;
}
.list-unstyled li {
	display: inline;
    line-height: 1.9em;
}
.to-do {
    li {
        display: inline-block;
    }
    .done {
        color: $pink;
        text-decoration: line-through;
    }
    .urgent {
        color: $green;
    }
}
.a-a, .messages {
	margin-bottom: 20px;
}
.dashboard {
	.top-row, .middle-row, .bottom-row {
		margin-bottom: 20px;
	}
	h3 {
		text-transform: capitalize;
		font-size: 14px;
		margin: 0;
		padding: 3px 0 3px 8px;
		background: #fff;
		border: 1px solid #eaeaea; 
		color: #555;
	}
	.glyphicon-cog {
		font-size: 108px;
		padding: 20px 0;
	}
}
.middle-row {
    .equal-h {
        min-height: 318px;
    }
    h4 {
        font-weight: normal;
        margin-bottom: 40px;
        font-size: 16px;
    }
}
.bottom-row {
    .equal-h {
        min-height: 185px;
    }
    .bar-large img {
        padding-top: 16px;
    }
}
