nav#dash-nav {
    background: rgba(0, 0, 0, 0.66);

    margin-bottom: 40px;
    a, i {
        color: lightgrey;
    }
    font-size: 13px;
    @include breakpoint(768) {
        font-size: 18px;
    }
    text-transform: uppercase;
    ul {
        margin: 0;
    }
    li {
        width: 24%;
        @include breakpoint(768) { 
            width: 12%; 
            border-right: 1px solid grey;
            &:first-child {
                 border-left: 1px solid grey;   
            }
        }
        display: inline-block;
        text-align: center;
        padding: 12px 0;
        line-height: 1.4em!important;


    }
    span {
        display: block;
    }
}
.box-number {
	font-size: 50px;
	margin-bottom: 0;
	p {
		margin-bottom: 0;
	}
}
.data {
	margin-top: 30px;
}
.constrain {
	padding: 0.4em 2em!important;
}
footer li {
	font-size: 18px;
	margin-right: 12px;
    color: white;
}

.align-left {
	text-align: left!important;
}
.list-unstyled li {
	display: inline;
    line-height: 1.9em;
}
.to-do {
    li {
        display: inline-block;
    }
    .done {
        color: $pink; 
        text-decoration: line-through;
    }
    .urgent {
        color: $green;
    }
} 
.a-a, .messages {
	margin-bottom: 20px;
}
.dashboard {
    .col-xs-12 {
        margin-bottom: 20px;

    }
    .row {
        margin-bottom: 0;
    }
	h3 {
		text-transform: capitalize;
		font-size: 16px;
		margin: 0;
		padding: 3px 0 3px 8px;
		border: 1px solid #eaeaea; 
		color: white;
        text-align: center;
        background: #969696;

	}
	.glyphicon-cog {
		font-size: 108px;
		padding: 20px 0;
	}
}
.middle-row {
    .equal-h {
        min-height: 318px;
    }
    h4 {
        font-weight: normal;
        margin-bottom: 40px;
        font-size: 16px;
    }
}
.bottom-row {
    .equal-h {
        min-height: 185px;
    }
    .bar-large img {
        padding-top: 16px;
    }
}
.dash-nav {
    img {
        display: inline;
        width: 24%;
    }
}
.dash-nav-small {
    padding-top: 35px;
}