.row p {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    align-self: flex-end;
}
.row1 {
    img {
        width: 60%;
    }
    .users img {
        width: 30%;
    }
    .competance img {
        width: 30%;
    }
}
.row2 {
    img {
        width: 75%;
    }
}
.row4 {
    img {
        width: 60%;
    }
}
  
nav#dash-nav {
    background: #6d6d6d;
    font-family: verdana, sans-serif;
    margin-bottom: 40px;
    a, i {
        color: #f9f9f9;
    }
    font-size: 12px;
    @include breakpoint(768) {
        font-size: 16px;
    }
    text-transform: capitalize;
    ul {
        margin: 0;
    }
    li {
        width: 23%;
        @include breakpoint(1024) { 
            width: 12%; 

        }
        display: inline-block;
        text-align: center;
        padding: 12px 0;
        line-height: 1.4em!important;
    }
    span {
        display: block;
    }
}
.data {
	margin-top: 30px;
}
.constrain {
	padding: 0.4em 2em!important;
}
footer li {
	font-size: 18px;
	margin-right: 12px;
    color: white;
}

.align-left {
	text-align: left!important;
}
.list-unstyled li {
	display: inline;
    line-height: 1.9em;
}
.to-do {
    li {
        display: inline-block;
    }
    .done {
        color: $pink; 
        text-decoration: line-through;
    }
    .urgent {
        color: $green;
    }
} 
.a-a, .messages {
	margin-bottom: 20px;
}
.dashboard {
    .col-xs-12 {
        margin-bottom: 20px;
    }
    .row {
        margin-bottom: 0;
        @include breakpoint(600) {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;             
        }
    }
	h3 {
		text-transform: uppercase;
		font-size: 22px; 
		color: #4c4c4c;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
	}
    img {
        margin-top: 50px;
        @include breakpoint(768) {
            margin-top: 70px;       
        }
    }
    .box {
        border-radius: 5px;
        padding-bottom: 20px;
        height: 100%;
        position: relative;
    }
    .row3 img, .row5 img {
        margin-top: 50px;
    }
}
.dash-nav-small {
    padding-top: 35px;
}
