.question-bank {
	background: white;
	margin-bottom: 40px;
	header {
		overflow: hidden;

		padding: 12px;
		a {
			background: $green;
			color: white;
		}
	}
	h1 {
		text-transform: uppercase;
		font-size: 34px;
		margin: 0;
	}
	.row {
		margin-bottom: 20px;
	}
	label {
		float: right;
	}
}
.q-table {
	background: white;
	.container {
		padding: 0;
	}
    th {width: 60px;
        text-transform: uppercase;
        height: 32px;
    }
    table tr {
        text-decoration: uppercase;
    }  
}
.equal {  
    display: -webkit-flex;
    display: flex;
}
