
img {
	max-width: 100%;
}
.container {
	
}
/* DASHBOARD */

$h-col: #555;
$l-blue: #2DBCEC;
$d-blue: #5380C2;
$pink: #EB007C;
$green: #00A4A4;

.top-row {
	p {
		font-size: 32px;
		margin-bottom: 0;
	}
}

.total-users {
	color: $l-blue;
}
.comp-quizzes {
	color: $green;
}
.quizzes-prog {
	color: $pink;
}
.align-left {
	text-align: left!important;
}
.a-a, .messages {
	margin-bottom: 20px;
}
.dashboard {
	background: #eaeaea;
	header {
		background: #fff;
		padding: 20px;
		margin-bottom: 20px;
		a, span, i {
			color: $h-col;
			font-size: 18px;
		}
		.row {
			display: flex;
			align-items: center;
		}
	}
	.nav {
		:first-child {
			border-right: 1px solid $h-col;
			padding-right: 12px;
		}
		a {
			padding-left: 8px;
		}
	}
	.admin {
		text-align: right;
		span {
			border-right: 1px solid $h-col;
			padding-right: 12px;
		}
		.sign-out {
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	.top-row, .middle-row, .bottom-row {
		margin-bottom: 20px;
	}
	.box {
		background: white;
		text-align: center;
		padding: 12px;
		overflow: hidden;
	}
		h3 {
			text-transform: capitalize;
			font-size: 14px;
			margin: 0;
			font-weight: normal;
			
			padding: 3px 0 3px 8px;
			background: #444;
			color: white;
		}
}



/* REGISTATION */
$gaps: 5em;

.reg {
	background: #2DBCEC;
	font-size: 18px;
	#inputValidation {
		width: 30px;
	}
	.blurb {
		margin-top: 30px;
		margin-bottom: $gaps;
	}
	.logo {
			width: 35%;
			margin: $gaps auto;
	}
	p, h3 {
		color: white;
	}
	h3, input {
		margin-bottom: 20px;
	}
	.get-in-touch {
		textarea {
			height: 100px;
		}
		#submit {
			background: transparent;
			color: white;
			border: 2px solid white;
			margin-left: 10px;
			padding: 6px 12px;
		}
	}
}


