.wrapper {
  max-width: 1500px;
  margin: 0 auto; }

img {
  max-width: 100%; }

body {
  background: #eaeaea; }

header.main {
  padding: 20px;
  margin-bottom: 20px;
  background: white; }
  header.main a, header.main span, header.main i {
    color: #555;
    font-size: 18px; }
  header.main .row {
    display: flex;
    align-items: center; }

.nav :first-child {
  border-right: 1px solid #555;
  padding-right: 12px; }
.nav a {
  padding-left: 8px; }

.admin {
  text-align: right; }
  .admin span {
    border-right: 1px solid #555;
    padding-right: 12px; }
  .admin .sign-out {
    padding-left: 8px;
    padding-right: 8px; }

.box-number {
  font-size: 32px;
  margin-bottom: 0; }
  .box-number p {
    margin-bottom: 0; }

.data {
  margin-top: 30px; }

.constrain {
  padding: 2em !important; }

footer li {
  font-size: 24px;
  margin-right: 12px; }

.l-blue {
  color: #2DBCEC; }

.green {
  color: #00A4A4; }

.pink {
  color: #EB007C; }

.align-left {
  text-align: left !important; }

.list-unstyled li {
  display: inline; }

.to-do li {
  display: inline-block; }

.a-a, .messages {
  margin-bottom: 20px; }

.dashboard .top-row, .dashboard .middle-row, .dashboard .bottom-row {
  margin-bottom: 20px; }
.dashboard h3 {
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  padding: 3px 0 3px 8px;
  background: #fff;
  border: 1px solid #eaeaea;
  color: #444; }
.dashboard .glyphicon-cog {
  font-size: 108px;
  padding: 20px 0; }

.box {
  background: white;
  text-align: center;
  padding: 12px;
  overflow: hidden;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; }

.reg {
  background: #2DBCEC;
  font-size: 18px; }
  .reg #inputValidation {
    width: 30px; }
  .reg .blurb {
    margin-top: 30px;
    margin-bottom: 5em; }
  .reg .logo {
    width: 35%;
    margin: 5em auto; }
  .reg p, .reg h3 {
    color: white; }
  .reg h3, .reg input {
    margin-bottom: 20px; }
  .reg .get-in-touch textarea {
    height: 100px; }
  .reg .get-in-touch #submit {
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-left: 10px;
    padding: 6px 12px; }

.question-bank {
  background: white;
  border: 1px solid red;
  margin-bottom: 40px; }
  .question-bank header {
    overflow: hidden;
    border: 1px solid black;
    padding: 12px; }
    .question-bank header a {
      background: #00A4A4;
      color: white; }
  .question-bank h1 {
    text-transform: uppercase;
    font-size: 34px;
    margin: 0; }
  .question-bank .row {
    margin-bottom: 20px; }
  .question-bank label {
    float: right; }

.q-table {
  background: white; }
