.wrapper {
  max-width: 1500px;
  margin: 0 auto; }

img {
  max-width: 100%; }

body {
  background: url("../img/bg.jpg") no-repeat center top; }

header.main {
  padding: 20px;
  margin: 40px auto;
  background: white; }
  header.main a, header.main span, header.main i {
    color: #555555;
    font-size: 18px; }
  header.main .row {
    display: flex;
    align-items: center; }

.nav :first-child {
  border-right: 1px solid #555555;
  padding-right: 12px; }
.nav a {
  padding-left: 8px; }

.admin {
  text-align: right; }
  .admin span {
    border-right: 1px solid #555555;
    padding-right: 12px; }
  .admin .sign-out {
    padding-left: 8px;
    padding-right: 32px; }
  .admin i {
    font-size: 22px; }

.box {
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 12px;
  overflow: hidden;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea; }

.box-number {
  font-size: 32px;
  margin-bottom: 0; }
  .box-number p {
    margin-bottom: 0; }

.data {
  margin-top: 30px; }

.constrain {
  padding: 0.4em 2em !important; }

footer li {
  font-size: 18px;
  margin-right: 12px;
  color: white; }

.l-blue {
  color: #2dbcec; }

.green {
  color: #00a4a4; }

.pink {
  color: #eb007c; }

.align-left {
  text-align: left !important; }

.list-unstyled li {
  display: inline;
  line-height: 1.9em; }

.to-do li {
  display: inline-block; }
.to-do .done {
  color: #eb007c;
  text-decoration: line-through; }
.to-do .urgent {
  color: #00a4a4; }

.a-a, .messages {
  margin-bottom: 20px; }

.dashboard .top-row, .dashboard .middle-row, .dashboard .bottom-row {
  margin-bottom: 20px; }
.dashboard h3 {
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
  padding: 3px 0 3px 8px;
  background: #fff;
  border: 1px solid #eaeaea;
  color: #555; }
.dashboard .glyphicon-cog {
  font-size: 108px;
  padding: 20px 0; }

.middle-row .equal-h {
  min-height: 318px; }
.middle-row h4 {
  font-weight: normal;
  margin-bottom: 40px;
  font-size: 16px; }

.bottom-row .equal-h {
  min-height: 185px; }
.bottom-row .bar-large img {
  padding-top: 16px; }

.reg {
  background: #2DBCEC;
  font-size: 18px; }
  .reg #inputValidation {
    width: 30px; }
  .reg .blurb {
    margin-top: 30px;
    margin-bottom: 5em; }
  .reg .logo {
    width: 35%;
    margin: 5em auto; }
  .reg p, .reg h3 {
    color: white; }
  .reg h3, .reg input {
    margin-bottom: 20px; }
  .reg .get-in-touch textarea {
    height: 100px; }
  .reg .get-in-touch #submit {
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-left: 10px;
    padding: 6px 12px; }

.add-question .box {
  text-align: left !important; }
.add-question header {
  background: #2dbcec; }
  .add-question header h1 {
    color: white;
    text-transform: uppercase;
    padding: 12px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0; }
.add-question img {
  width: 50px; }

.question-bank {
  margin-bottom: 40px; }
  .question-bank header {
    overflow: hidden;
    padding: 12px;
    background: white;
    border-bottom: 1px solid #eaeaea; }
    .question-bank header a {
      background: #00a4a4;
      color: white; }
  .question-bank h1 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    padding: 4px 0 0 8px; }
  .question-bank .row {
    margin-bottom: 20px; }
  .question-bank label {
    float: right; }
  .question-bank .box {
    text-align: left; }
  .question-bank h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px; }
  .question-bank .key img {
    width: 50px; }
  .question-bank input[type=text] {
    padding: 6px 12px;
    width: 100%; }
  .question-bank input[type=checkbox] {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }
  .question-bank label[for=s-level], .question-bank label[for=q-type] {
    padding-top: 12px; }

.q-table {
  background: white; }
  .q-table .container {
    padding: 0; }
  .q-table th {
    width: 60px;
    text-transform: uppercase;
    height: 32px; }
  .q-table table tr {
    text-decoration: uppercase; }
  .q-table td img {
    width: 40px; }
  .q-table td i {
    font-size: 26px;
    color: #666;
    font-weight: normal; }
    .q-table td i:first-child {
      padding-right: 8px; }

.btn-default {
  background: #eb007c;
  border: none;
  color: white; }
  .btn-default:hover {
    background: #9f0054;
    color: white; }

.btn-primary {
  background: #2dbcec;
  border: none; }
  .btn-primary:hover {
    background: #1191bc; }

.apply {
  margin-left: 6px; }

.but-filters {
  text-align: right; }

.equal {
  display: -webkit-flex;
  display: flex; }

.styled-select select {
  background: white;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 250px; }

.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 250px; }

footer .controls {
  margin-bottom: 40px; }
  footer .controls .paginate {
    text-align: right; }
    footer .controls .paginate :not(:last-child) {
      border-right: 1px solid black;
      padding-right: 8px; }
