$h-col: #555;
$l-blue: #2DBCEC;
$d-blue: #5380C2;
$pink: #EB007C;
$green: #00A4A4;
$border: #eaeaea;
$h1: 24px;

.wrapper {
	max-width: 1500px;
	margin: 0 auto;
}
img {
	max-width: 100%; 
}
body {
    background: url("../img/bg.jpg") no-repeat center top;  

}
header.main {
	padding: 20px;
    margin: 40px auto;
	background: white;
	a, span, i {
		color: $h-col;
		font-size: 18px;
	}
	.row {
		display: flex;
		align-items: center;
	}
} 
.nav {
	:first-child {
		border-right: 1px solid $h-col;
		padding-right: 12px;
	}
	a {
		padding-left: 8px;
	}
}
.admin {
	text-align: right;
	span {
		border-right: 1px solid $h-col;
		padding-right: 12px;
	}
	.sign-out {
		padding-left: 8px;
		padding-right: 32px;
	}
    i {
        font-size: 22px;
    }
}
.box {
	background: rgba(255, 255, 255, 0.7)  ;
	text-align: center;
	padding: 12px;
	overflow: hidden;
	border-right: 1px solid $border; 
	border-left: 1px solid $border; 
	border-bottom: 1px solid $border; 
}
.btn-default {
    color: white;
} 



@import '_dashboard';
@import '_registration';
@import '_question-bank';
